.animation, .aniLayer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.aniLayer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.aniLayer.parallax {
	position: fixed;
}

#hill1{
    background-image: url('../Assests/hill1.png');
}

#hill2{
    background-image: url('../Assests/hill2.png');
}

#hill3{
    background-image: url('../Assests/hill3.png');
}

#hill4{
    background-image: url('../Assests/hill4.png');
}

#hill5{
    background-image: url('../Assests/hill5.png');
}

#tree{
    background-image: url('../Assests/tree.png');
}

#plant{
    background-image: url('../Assests/plant.png');
}

#leaf{
    background-image: url('../Assests/leaf.png');
}

.textblock{
    display: flex;
    background-color: aquamarine;
    flex-direction: column;
    padding: 5rem;
   
}